.hero-section {
  width: 100%;
  display: flex;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.hero-section-left,
.hero-section-right {
  width: 100%;
  min-height: 90vh;
}

.hero-section-left {
  background-color: #f9c6cd;
  z-index: 1;
  position: relative;
}

.milk-tea {
  transform: rotate(10deg);
  width: 100%;
}

.milk-splash {
  position: absolute;
  width: 60vw;
}

.hero-section-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  p {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: -3px 3px 0 #f9c6cd;
  }

  div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  a {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}

.sakura-one {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-85%) translateY(-10%) rotate(20deg) scale(0.8);
  z-index: 0;
}

.sakura-two {
  position: absolute;
  top: 0;
  right: 0;
  transform: scaleX(-1) translateX(-40%) translateY(-80%) rotate(30deg);
  z-index: 0;
  width: 20vw;
}

.milk-splash,
.milk-tea,
.leaf1,
.leaf2,
.leaf3,
.pearl,
.pearl2,
.pearl3,
.strawberry-slice,
.strawberry {
  position: absolute;
}

.milk-splash {
  transform: translateY(-10%);
  z-index: -10;
}

.splash {
  z-index: -5;
  position: absolute;
  bottom: 0;
}

.leaf1 {
  right: 0;
  bottom: 10%;
  transform: rotate(10deg);
}
.leaf2 {
  left: 13%;
  bottom: 50%;
}
.leaf3 {
  right: -20%;
  top: 5%;
  transform: rotate(120deg);
}

.pearl {
  right: -10%;
  top: 20%;
}

.pearl2 {
  right: 10%;
  bottom: 40%;
  transform: scale(0.7);
}

.pearl3 {
  bottom: 25%;
  left: 25%;
}

.strawberry-slice {
  transform: scale(0.4) rotate(10deg);
  right: -20%;
  top: 15%;
}

.strawberry {
  bottom: -25%;
  transform: scale(0.5);
  left: -25%;
  z-index: -1;
}

.captions {
  position: absolute;
  bottom: 0;
  z-index: 30;
  left: 50%;
  transform: translateX(-50%);
  font-size: 5rem;
  margin: 0;
  padding: 0;
  line-height: 5rem;
  text-transform: uppercase;
  letter-spacing: 1.7rem;
  width: 100%;
  text-align: center;
  background: linear-gradient(to right, black 50%, #ff788a 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.popular-drinks {
  height: 40vh;
  background-color: #faf2f1;
  z-index: 10;
  position: relative;
}

.arrow {
  margin-left: 10px;
  position: absolute;
  animation: infinite 1.8s arrow-move;
}

@keyframes arrow-move {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media (max-width: 768px) {
  .hero-section {
    flex-direction: column; /* Side-by-side */
  }

  .hero-section-left,
  .hero-section-right {
    width: 100%;
    height: 90vh;
  }

  .milk-splash {
    width: 100%;
  }
}
