.hero-section {
  width: 100%;
  display: flex;
  position: relative;
}

.hero-section-left,
.hero-section-right {
  width: 100%;
  min-height: 90vh;
}

.hero-section-left {
  background-color: #f9c6cd;
  z-index: 1;
  position: relative;
}

.milk-tea {
  transform: rotate(10deg);
  width: 100%;
}

.milk-splash {
  position: absolute;
  width: 60vw;
}

.hero-section-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  p {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: -3px 3px 0 #f9c6cd;
  }

  div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  a {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}

.sakura-one {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-85%) translateY(-10%) rotate(20deg) scale(0.8);
  z-index: 0;
}

.sakura-two {
  position: absolute;
  top: 0;
  right: 0;
  transform: scaleX(-1) translateX(-40%) translateY(-80%) rotate(30deg);
  z-index: 0;
  width: 20vw;
}

.milk-splash,
.milk-tea {
  position: absolute;
}
.captions {
  position: absolute;
  bottom: 0;
}

.milk-splash {
  transform: translateY(-10%);
}
.popular-drinks {
  height: 40vh;
  background-color: #faf2f1;
  z-index: 10;
  position: relative;
}

@media (max-width: 768px) {
  .hero-section {
    flex-direction: column; /* Side-by-side */
  }

  .hero-section-left,
  .hero-section-right {
    width: 100%;
    height: 90vh;
  }

  .milk-splash {
    width: 100%;
  }
}
