.drinks-container {
  display: flex;
  padding: 40px;
  padding-top: 0;
  flex: 0;
  gap: 20px;
  h2 {
    font-size: 2.5rem;
  }
}

.drinks-category {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 20vw;
  margin-top: 5rem;
}

.category-wrapper {
  padding: 15px 10px;
}

.drinks-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.drinks-card {
  background-color: #f7b7b7;
  padding: 20px;
  display: flex;
  border-radius: 10px;
}

.drinks-image {
  width: 100%;
  height: 100px;
  background-color: transparent;
  flex: 1;
}

.drinks-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  h4 {
    width: 50%;
    font-size: 1.7rem;
    text-overflow: ellipsis;
    min-width: 0;
  }
}

.best-seller {
  background-color: #f9ddda;
  padding: 5px 15px;
  border-radius: 20px;
  p {
    margin: 0;
    font-weight: 600;
  }
}

.drinks-price {
  font-size: 1.5rem;
  display: flex;
  gap: 30px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000070;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 40vw;
  height: 80vh;
  overflow-y: auto;
  background-color: #faf2f1;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.modal-title {
  font-size: 2rem;
}

p {
  margin-top: 0;
}

.modal-photo {
  height: 70%;
  background-color: #fcd3ce;
}

.modal-details-wrapper {
  padding: 40px;
  padding-top: 0;
}

.size-selector-field,
.add-ons-selector-field {
  margin: 0;
  display: flex;
  flex-direction: column;

  h6 {
    font-size: 1rem;
    margin-left: 20px;
  }
}

fieldset {
  padding: 10px;
  padding-left: 0;
  margin: 0;
  border: none;

  label {
    margin-left: 10px;
  }
}

.options-wrapper {
  width: 100%;
  input {
    margin: 0;
  }
  div {
    display: flex;
    align-items: center;
  }
}

.option-size {
  padding: 15px 10px;
  border: 2px solid #f2c0b9;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.add-order {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}

.num-of-order-wrapper {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #f2c0b9;

  button {
    background-color: transparent;
    font-size: 1.5rem;
  }
}

.add-cart {
  width: 60%;
  background-color: #f7b7b7;
}
textarea {
  width: 100%;
  height: 100px;
  resize: none;
}
